@model Ecommerce.Areas.Admin.Models.AdminModel
@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.AdminID" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdminID" />
            <div class="form-group">
                <label asp-for="AdminName" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="AdminName" class="form-control" />
                </div>
                <span asp-validation-for="AdminName" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AdminEmail" class="control-label"></label>
                        <input asp-for="AdminEmail" class="form-control" />
                        <span asp-validation-for="AdminEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AdminPassword" class="control-label"></label>
                        <input asp-for="AdminPassword" class="form-control" />
                        <span asp-validation-for="AdminPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AdminPhone" class="control-label"></label>
                        <input asp-for="AdminPhone" class="form-control" />
                        <span asp-validation-for="AdminPhone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="ful" name="ful">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div class="form-group">
                        <img id="HinhAnh" src="~/image/no_image.png" alt="no img" class="img-thumbnail" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function readURL(input, idImg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(idImg).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#ful").change(function () {
            readURL(this, "#HinhAnh");
        });
    </script>
}


