@model Ecommerce.Areas.Admin.Models.ProductModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductModel</h4>
<hr />
<div class="main-content">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductID" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPicture1" class="control-label"></label>
                <input asp-for="ProductPicture1" class="form-control" />
                <span asp-validation-for="ProductPicture1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPicture2" class="control-label"></label>
                <input asp-for="ProductPicture2" class="form-control" />
                <span asp-validation-for="ProductPicture2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPicture3" class="control-label"></label>
                <input asp-for="ProductPicture3" class="form-control" />
                <span asp-validation-for="ProductPicture3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNumber" class="control-label"></label>
                <input asp-for="ProductNumber" class="form-control" />
                <span asp-validation-for="ProductNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDiscount" class="control-label"></label>
                <input asp-for="ProductDiscount" class="form-control" />
                <span asp-validation-for="ProductDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSupplierID" class="control-label"></label>
                <select asp-for="ProductSupplierID" class="form-control" asp-items="ViewBag.ProductSupplierID"></select>
                <span asp-validation-for="ProductSupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductBrandID" class="control-label"></label>
                <select asp-for="ProductBrandID" class="form-control" asp-items="ViewBag.ProductBrandID"></select>
                <span asp-validation-for="ProductBrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategoryID" class="control-label"></label>
                <select asp-for="ProductCategoryID" class="form-control" asp-items="ViewBag.ProductCategoryID"></select>
                <span asp-validation-for="ProductCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductStatus" class="control-label"></label>
                <input asp-for="ProductStatus" class="form-control" />
                <span asp-validation-for="ProductStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
