@model IList<Ecommerce.Areas.Admin.Models.ProductModel>
<div class="new_product_area">
    <div class="block_title">
        <h3>New Products</h3>
    </div>
    <div class="row">
        <div class="product_active owl-carousel">
            @foreach (var m in Model)
            {
                <div class="col-lg-3">
                    <div class="single_product">
                        <div class="product_thumb">
                            <a href="single-product.html"><img src="~/image/product/@m.Picture" /></a>
                            <div class="img_icone">
                                <img src="~/user/assets/img/cart/span-new.png" alt="">
                            </div>
                            <div class="product_action">
                                <a asp-controller="Cart" asp-action="Buy" asp-route-id="@m.ProductID"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                        <div class="product_content">
                            <span class="product_price">@m.Price</span>
                            <h3 class="product_title"><a href="single-product.html">@m.Name</a></h3>
                        </div>
                        <div class="product_info">
                            <ul>
                                <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#modal_box" title="Quick view">View Detail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>