<div class="jumbotron text-center">
    <h1 class="display-3">Cảm Ơn Bạn!</h1>
    <p class="lead"><strong>Đặt hàng thành công </strong>  .</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-action="Index" asp-controller="Home" role="button">Quay lại trang chủ</a>
    </p>
</div>