@model OrderModel

<div class="col-md-12">
<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <h4>You're just one step away from your delicious pies.</h4>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete order" />
        </div>
    </div>

</form>

</div>