@model IList<e_Commerce.Models.CategoryModel>
<div class="sidebar_widget catrgorie mb-35">
    <h3>Danh Sách Loại Hàng</h3>
    <ul>
        @foreach (var m in Model)
        {
            <li class="has-sub">
                <a href="#"><i class="fa fa-caret-right"></i>@m.Name.</a>
            </li>
        }
    </ul>
</div>