@model IList<e_Commerce.Models.CategoryModel>
<div class="sidebar_widget catrgorie mb-35">
    <h3>Danh Sách Loại Hàng</h3>
    <ul>
        @foreach (var m in Model)
        {

                <a  class="fa fa-caret-right" asp-action="ShopList" asp-controller="Home" asp-route-id="@m.CategoryID" asp-area="Customer"><h5>@m.Name</h5></a>
        }
    </ul>
</div>