<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <partial name="_HeadPartial"/>
    @RenderSection("css", required: false)
</head>
<body data-sidebar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">
        @await Html.PartialAsync("_HeaderPartial.cshtml")
        <!-- ========== Left Sidebar Start ========== -->
        @await Html.PartialAsync("_MenuPartial.cshtml")
        @RenderBody()
    </div>
    <partial name="_PartialJS" />
    @RenderSection("Scripts", required: false)

</body>
</html>
