<div class="sidebar_widget banner mb-35">
    <div class="banner_img mb-35">
        <a href="#"><img src="~/user/assets/img/banner/banner5.jpg" alt=""></a>
    </div>
    <div class="banner_img">
        <a href="#"><img src="~/user/assets/img/banner/banner6.jpg" alt=""></a>
    </div>
</div>