<div class="blog_area blog_two">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single_blog">
                <div class="blog_thumb">
                    <a href="blog-details.html"><img src="~/user/assets/img/blog/blog3.jpg" alt=""></a>
                </div>
                <div class="blog_content">
                    <div class="blog_post">
                        <ul>
                            <li>
                                <a href="#">Tech</a>
                            </li>
                        </ul>
                    </div>
                    <h3><a href="blog-details.html">When an unknown took a galley of type.</a></h3>
                    <p>Distinctively simplify dynamic resources whereas prospective core competencies. Objectively pursue multidisciplinary human capital for interoperable.</p>
                    <div class="post_footer">
                        <div class="post_meta">
                            <ul>
                                <li>Jun 20, 2018</li>
                                <li>3 Comments</li>
                            </ul>
                        </div>
                        <div class="Read_more">
                            <a href="blog-details.html">Read more  <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single_blog">
                <div class="blog_thumb">
                    <a href="blog-details.html"><img src="~/user/assets/img/blog/blog4.jpg" alt=""></a>
                </div>
                <div class="blog_content">
                    <div class="blog_post">
                        <ul>
                            <li>
                                <a href="#">Men</a>
                            </li>
                        </ul>
                    </div>
                    <h3><a href="blog-details.html">When an unknown took a galley of type.</a></h3>
                    <p>Distinctively simplify dynamic resources whereas prospective core competencies. Objectively pursue multidisciplinary human capital for interoperable.</p>
                    <div class="post_footer">
                        <div class="post_meta">
                            <ul>
                                <li>Jun 20, 2018</li>
                                <li>3 Comments</li>
                            </ul>
                        </div>
                        <div class="Read_more">
                            <a href="blog-details.html">Read more  <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single_blog">
                <div class="blog_thumb">
                    <a href="blog-details.html"><img src="~/user/assets/img/blog/blog1.jpg" alt=""></a>
                </div>
                <div class="blog_content">
                    <div class="blog_post">
                        <ul>
                            <li>
                                <a href="#">Women</a>
                            </li>
                        </ul>
                    </div>
                    <h3><a href="blog-details.html">When an unknown took a galley of type.</a></h3>
                    <p>Distinctively simplify dynamic resources whereas prospective core competencies. Objectively pursue multidisciplinary human capital for interoperable.</p>
                    <div class="post_footer">
                        <div class="post_meta">
                            <ul>
                                <li>Jun 20, 2018</li>
                                <li>3 Comments</li>
                            </ul>
                        </div>
                        <div class="Read_more">
                            <a href="blog-details.html">Read more  <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>