<div class="brand_logo brand_two">
    <div class="block_title">
        <h3>Brands</h3>
    </div>
    <div class="row">
        <div class="brand_active owl-carousel owl-loaded owl-drag">






            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: all 0s ease 0s; width: 3600px;">
                    <div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand1.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand3.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand5.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand1.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand3.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand5.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand1.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand3.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand5.jpg" alt=""></a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 200px;">
                        <div class="col-lg-2">
                            <div class="single_brand">
                                <a href="#"><img src="~/user/assets/img/brand/brand6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div>
        </div>
    </div>
</div>