<div class="sidebar_widget catrgorie mb-35">
    <h3>Categories</h3>
    <ul>
        <li class="has-sub">
            <a href="#"><i class="fa fa-caret-right"></i> women</a>
            <ul class="categorie_sub">
                <li>
                    <a href="#"><i class="fa fa-caret-right"></i> Accessories</a>
                    <ul class="categorie_sub">
                        <li><a href="#"><i class="fa fa-caret-right"></i> Accessories</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
            </ul>
        </li>
        <li class="has-sub">
            <a href="#"><i class="fa fa-caret-right"></i> Men</a>
            <ul class="categorie_sub">
                <li>
                    <a href="#"><i class="fa fa-caret-right"></i> Accessories</a>
                    <ul class="categorie_sub">
                        <li><a href="#"><i class="fa fa-caret-right"></i> Accessories</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
            </ul>
        </li>
        <li class="has-sub">
            <a href="#"><i class="fa fa-caret-right"></i> Footwear</a>
            <ul class="categorie_sub">
                <li>
                    <a href="#"><i class="fa fa-caret-right"></i> Accessories</a>
                    <ul class="categorie_sub">
                        <li><a href="#"><i class="fa fa-caret-right"></i> Accessories</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
            </ul>

        </li>
        <li class="has-sub">
            <a href="#"><i class="fa fa-caret-right"></i> Jewelry</a>
            <ul class="categorie_sub">
                <li>
                    <a href="#"><i class="fa fa-caret-right"></i> Accessories</a>
                    <ul class="categorie_sub">
                        <li><a href="#"><i class="fa fa-caret-right"></i> Accessories</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
            </ul>
        </li>
        <li class="has-sub">
            <a href="#"><i class="fa fa-caret-right"></i> Lady</a>
            <ul class="categorie_sub">
                <li>
                    <a href="#"><i class="fa fa-caret-right"></i> Accessories</a>
                    <ul class="categorie_sub">
                        <li><a href="#"><i class="fa fa-caret-right"></i> Accessories</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Dresses</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> Tops</a></li>
                <li><a href="#"><i class="fa fa-caret-right"></i> HandBags</a></li>
            </ul>
        </li>

    </ul>
</div>