<div class="sidebar_widget wishlist mb-35">
    <div class="block_title">
        <h3><a href="#">Wishlist</a></h3>
    </div>
    <div class="cart_item">
        <div class="cart_img">
            <a href="#"><img src="~/user/assets/img/cart/cart.jpg" alt=""></a>
        </div>
        <div class="cart_info">
            <a href="#">lorem ipsum dolor</a>
            <span class="cart_price">$115.00</span>
            <span class="quantity">Qty: 1</span>
        </div>
        <div class="cart_remove">
            <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
        </div>
    </div>
    <div class="cart_item">
        <div class="cart_img">
            <a href="#"><img src="~/user/assets/img/cart/cart2.jpg" alt=""></a>
        </div>
        <div class="cart_info">
            <a href="#">Quisque ornare dui</a>
            <span class="cart_price">$105.00</span>
            <span class="quantity">Qty: 1</span>
        </div>
        <div class="cart_remove">
            <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
        </div>
    </div>
    <div class="block_content">
        <p>2 products</p>
        <a href="#">» My wishlists</a>
    </div>
</div>