<div class="pos_home_section">
    @await Html.PartialAsync("_BannerOnePartial.cshtml")
    <!--banner slider start-->
    <!--new product area start-->
    @await Html.PartialAsync("_NewProductPartial.cshtml")
    @await Html.PartialAsync("_BannerTowPartial.cshtml")
    <!--new product area start-->
    <!--banner area start-->
    <!--banner area end-->
    <!--featured product area start-->
    @await Html.PartialAsync("_NewProductTwoPartial.cshtml")
    <!--featured product area start-->
    <!--blog area start-->
    @await Html.PartialAsync("_BlogPartial.cshtml")
    <!--blog area end-->
    <!--brand logo strat-->
    @await Html.PartialAsync("_BrandPartial.cshtml")
    <!--brand logo end-->
</div>