@model IList<e_Commerce.Models.ProductModel>

            @foreach (var m in Model)
            {
                <div class="col-lg-3">
                    <div class="single_product">
                        <div class="product_thumb">
                            <a href="single-product.html"><img src="~/image/product/@m.Picture" /></a>
                            <div class="img_icone">
                                <img src="~/user/assets/img/cart/span-new.png" alt="">
                            </div>
                            <div class="product_action">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Add" asp-route-productId="@m.ProductID"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </div>
                        </div>
                        <div class="product_content">
                            <span class="product_price">@(String.Format("{0:n0}",m.Price)) VND</span>
                            <h3 class="product_title"><a href="single-product.html">@m.Name</a></h3>
                        </div>
                        <div class="product_info">
                            <ul>
                             <li><a  asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@m.ProductID" title="Quick view">View Detail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        