<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coron - Fashion eCommerce Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/user/assets/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="~/user/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/user/assets/css/plugin.css">
    <link rel="stylesheet" href="~/user/assets/css/bundle.css">
    <link rel="stylesheet" href="~/user/assets/css/style.css">
    <link rel="stylesheet" href="~/user/assets/css/responsive.css">
    <script src="~/user/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>