<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await Html.PartialAsync("_HeadPartial.cshtml")
    @RenderSection("css", required: false)
</head>
<body data-sidebar="dark">
    @await Html.PartialAsync("_HeaderPartial.cshtml")
    <!-- ========== Left Sidebar Start ========== -->

    <div>
        @RenderBody()
    </div>
    <script src="~/user/assets/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/user/assets/js/popper.js"></script>
    <script src="~/user/assets/js/bootstrap.min.js"></script>
    <script src="~/user/assets/js/ajax-mail.js"></script>
    <script src="~/user/assets/js/plugins.js"></script>
    <script src="~/user/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
    @await Html.PartialAsync("_FooterPartial.cshtml")
</body>
</html>
