@model Ecommerce.Areas.Admin.Models.OrderDetailsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderDetailsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderDetailID" />
            <input type="hidden" asp-for="OrderDetailProductID" />
            <div class="form-group">
                <label asp-for="OrderDetailProductName" class="control-label"></label>
                <input asp-for="OrderDetailProductName" class="form-control" />
                <span asp-validation-for="OrderDetailProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetailPrice" class="control-label"></label>
                <input asp-for="OrderDetailPrice" class="form-control" />
                <span asp-validation-for="OrderDetailPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetailNumber" class="control-label"></label>
                <input asp-for="OrderDetailNumber" class="form-control" />
                <span asp-validation-for="OrderDetailNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetailCoupon" class="control-label"></label>
                <input asp-for="OrderDetailCoupon" class="form-control" />
                <span asp-validation-for="OrderDetailCoupon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetailState" class="control-label"></label>
                <input asp-for="OrderDetailState" class="form-control" />
                <span asp-validation-for="OrderDetailState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetailColor" class="control-label"></label>
                <input asp-for="OrderDetailColor" class="form-control" />
                <span asp-validation-for="OrderDetailColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <input asp-for="OrderStatus" class="form-control" />
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
